<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: head"></head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h2>Welcome to the Augmentor</h2>
			</div>
			
		</div>
	
		<div class="row">
			<div class="col-md-3" th:fragment="sidenav">
				<h4>Quick Links</h4>
				<ul>
					<li><a href="/intent/new">Add New Intent</a></li>
					<li><a href="/intent/action">Define Intent Action</a></li>
					<li><a href="/intent/parameter">Manage Intent Parameters</a></li>
					<li><a href="/intent/response">Manage Intent Response Schema</a></li>
				</ul>
			</div>
		</div>
	
	
	
	
	
	</div>
	
	
	
</body>
</html>